
@import url('https://fonts.googleapis.com/css?family=Nunito|Rubik|Titillium+Web|Ubuntu|Roboto|Markazi+Text:700');


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 16pt;
  box-sizing: border-box;
}

header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 50px;
  left: 100px;
}

a {
  text-decoration: none; /* Gets rid of dirty default underline */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-snap-type: y mandatory; /* Vertikal Scrollen und Snap Points streng einhalten */
}

section {
  height: 100vh;
  scroll-snap-align: start; /* An der Oberkante jeder Sektion soll gestoppt werden */
}

section:nth-of-type(even) {
  background: #ffffff;
}

section:nth-of-type(odd) {
  background: #ffffff;
}



#welcometext {
  position: absolute;
  top: 300px;
  left: 700px;
  font-weight: bold;
  font-size: 18pt;
  color: #b73c3d;
}


.coverimage img{
  width: 100%;
}



.work-container {
  display: grid;
  grid-column-gap: 50px;
  text-align: center;

}
.work img{
  width: 250px;
  height: 250px;
}



.work img:hover {
  opacity: 0.5;
  transition: .5s ease;
}

.icon img{
  width: 20px;
  height: 20px;
}

.icon2 img{
  width: 40px;
  height: 40px;
}

.gallery {
  /*padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 10px;
  justify-items: center;*/

  display: flex;
  flex-wrap: wrap;
}

.gallery img{
  width: auto;
  display: block;
}

