
@import url('https://fonts.googleapis.com/css?family=Nunito|Rubik|Titillium+Web|Ubuntu|Roboto|Markazi+Text:700');


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 16pt;
  box-sizing: border-box;
}


header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  top: 50px;
  left: 100px;
  position: fixed;
  z-index: 99;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: 100px;
    left: 100px;
}


a {
  text-decoration: none; /* Gets rid of dirty default underline */
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  scroll-snap-type: mandatory; /* Vertikal Scrollen und Snap Points streng einhalten */
}

section {
  position: absolute;
  height: 100vh;
  scroll-snap-align: start; /* An der Oberkante jeder Sektion soll gestoppt werden */
}

section:nth-of-type(even) {
  top: 100vh;
  background: #ffffff;
}

section:nth-of-type(odd) {
  top: 0;
  background: #ffffff;
}



#welcometext {
  position: absolute;
  top: 300px;
  left: 700px;
  font-weight: bold;
  font-size: 20pt;
  color: #000000;
}

#welcometext2 {
  position: absolute;
  top: 335px;
  left: 700px;
  font-weight: light;
  font-size: 13pt;
  color: #000000;
}


.coverimage img{
  width: 100%;
}



.work-container {
  top: 100vh;
  width: 100%;
  position: absolute;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 10px;
  align-content: center;
  justify-content: center;

  img {
    width: 250px;
    height: 250px;
  }

  img:hover {
  opacity: 0.5;
  transition: .5s ease;
}
}



.icon img{
  width: 30px;
  height: 30px;
}

.icon2 {
  position: fixed;
}
.icon2 img{
  width: 40px;
  height: 40px;
  
}

.gallery {
  /*padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 10px;
  justify-items: center;*/

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}



.gallery img{
  width: auto;
  height: 50%;
  display: block;
  margin: 0.3%;
  position: relative;
  top: 210px;  
}
